<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--接口位置-->
<mapper namespace="com.ht.bpr.mapper.FamilyMapper">

    <insert id="add" parameterType="Family" useGeneratedKeys="true" keyProperty="id">
        insert into bpr_family
        (family_id,
         family_name,
         family_manager,
         create_time)
        values (#{family.familyId},
                #{family.familyName},
                #{family.familyManager},
                #{family.createTime}
               )
    </insert>
    <select id="selectByFamilyId" resultType="com.ht.bpr.entity.Family">
        select *
        from bpr_family
        where family_id = #{familyId}
    </select>
    <select id="selectBatchByFamilyIds" parameterType="string" resultType="com.ht.bpr.entity.Family">
        select *
        from bpr_family
        <where>
            family_id in
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <foreach collection="familyIds" item="familyId" separator=",">
                    #{familyId}
                </foreach>
            </trim>
        </where>
    </select>

</mapper>