<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--接口位置-->
<mapper namespace="com.ht.bpr.mapper.UserMapper">

    <resultMap id="userResultMap" type="User">
        <result column="id" property="id"/>
        <result column="nick_name" property="nickName"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="age" property="age"/>
        <result column="height" property="height"/>
        <result column="weight" property="weight"/>
        <result column="open_id" property="openId"/>
        <result column="union_id" property="unionId"/>
        <result column="last_record_time" property="lastRecordTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="User" useGeneratedKeys="true">
        insert into bpr_user
        (nick_name,
         avatar_url,
         open_id)
        values (#{nickName},
                #{avatarUrl},
                #{openId});
    </insert>

    <update id="updateUserInfo" parameterType="User">
        update bpr_user
        set nick_name = #{user.nickName},
            avatar_url = #{user.avatarUrl}
        where
            open_id = #{user.openId}
    </update>

    <update id="updateUserDetails" parameterType="User">
        update bpr_user
        <set>
            <if test="user.nickName != null">
                nick_name = #{user.nickName},
            </if>
            <if test="user.age != null">
                age = #{user.age},
            </if>
            <if test="user.height != null">
                height = #{user.height},
            </if>
            <if test="user.weight != null">
                weight = #{user.weight}
            </if>
        </set>
        where open_id = #{user.openId}
    </update>

    <select id="selectByOpenId" resultType="User">
        select *
        from bpr_user
        where open_id = #{openId}
    </select>

    <select id="selectUserMapByOpenIds" parameterType="string" resultMap="userResultMap">
        select *
        from bpr_user
        <where>
            open_id in
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <foreach collection="openIds" item="openId" separator=",">
                    #{openId}
                </foreach>
            </trim>
        </where>
    </select>

</mapper>